@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variable.scss";
@import "./mixins.scss";

// basic overwriting styles

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--body-bg);
	font-weight: 400;
	background-color: var(--body);
	@include Font(0.875rem, 1.375rem);
}

* {
	box-sizing: border-box;
}

li {
	list-style: none;
}

button,
input,
optgroup,
select,
textarea {
	@include Font(0.875rem, 1.375rem);
}

// input number icon removing
input[type="number"] {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}

input:focus {
	outline: none;
}

.loader {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.mobView {
	display: none;
}

// styles for responsive...
@media screen and (max-width: 1024px) {
	.mobView {
		display: block;
	}

	.main {
		border-radius: 10px;
	}

	.headLabel {
		svg {
			display: block;
		}
	}

	.sidebar {
		position: fixed;
		left: -100%;
		transition: all 0.5s ease-in;
		z-index: 10;
		border-radius: 8px;
		border: 1px solid #42a7c3;

		&.Open {
			left: 0;
			margin-left: 0;
		}
	}
}
